html, body {
    background-color: #d0e4fe;
	font-family: "Arial";
}

img {
	text-align: right;
}

p {
    font-size: 50px;
	text-align: center;
}

#copyright {
	margin: 0px auto;
	background-color:#DDD;
}

#copyright p {
	font-style: italic;
	text-align: center;
	font-size: 20px
}